body {
    background-image: url(k.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    height: 100vh;
    width: 100vw;
    margin: 0 10px 0 0;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    @import url(Norse-Bold.otf);
    font-family: 'Norse Bold', sans-serif;
}

.img {
    flex: 1;
    display: flex;
    background-image: url(y.jpg);;
    background-size: cover;
    background-position: center;
    border: 1px solid black;
    width: 20vw;
    height: 100vh;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-size: 4em;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255 , 0.4);
    width: 40vw;
    backdrop-filter: blur(40%);
}

form {
    flex: 2;
    margin: 0 200px;
    background: rgb(255, 255, 255, 0.8);
    width: 40vw;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.area {
    display: flex;
    width: 45vw;
    padding: 10px;
    justify-content: space-evenly;
    align-items: center;
    border: none;
}

.area legend {
    display: flex;
    font-size: 1em;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
}

.create {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    background: rgba(58, 37, 37, 0.4);
    color: white;
    cursor: pointer;
    font-size: 1.2em;
}

.name {
    margin-top: 10px;
    padding: 10px;
    border: none;
    background: rgba(58, 37, 37, 0.4);
    color: white;
    cursor: pointer;
    font-size: 1.2em;
}

.member {
    letter-spacing: 1px;
    font-style: italic;
}

.member a {
    color: brown;
    text-decoration: none;
}
